#gallery {
  display: flex;
}
div {
  margin: 15px;
}
img {
  height: 250px;
  margin: 10px;
}
li {
  list-style: none;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

